/* Formatting */
.homePage {
  height: 100vh;
  width: auto;
  padding-top: 100px;
  margin-bottom: 150px;
}

.fontPrimary {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
}

/* Heading */
.heading {
  color: #0f0;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
  animation: type 8s steps(60, end);
}

@keyframes type{ 
  from { width: 0; } 
} 

.headingWrapper {
  background: #0e0e0e;
  width: 65%;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 7px rgba(0, 255, 0, 0.4);
}

/* Input Box */
.searchColumn {
  margin-bottom: 50px;
}

@media screen and (max-width: 640px) {
  .input {
    width: 45%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 3px rgba(0, 255, 0, 0.4);
    border: none;
    border-radius: 5px;
  }
}

@media screen and (min-width: 641px) {
  .input {
    width: 60%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 3px rgba(0, 255, 0, 0.4);
    border: none;
    border-radius: 5px;
  }
}

.submitButton {
  background: rgba(255, 255, 255, 0.8);
  color: #0e0e0e;
  padding: 4px 6px 4px 6px;
  border: 2px solid #0e0e0e;
  border-radius: 5px;
}

.submitButton.checked {
  width: 60%;
  background: rgba(255, 255, 255, 0.8);
  color: #0e0e0e;
  padding: 4px 6px 4px 6px;
  border: 2px solid #0e0e0e;
  border-radius: 5px;
}

.submitButton:hover {
  background: #0e0e0e;
  color: rgba(255, 255, 255, 0.8);
  padding: 4px 6px 4px 6px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 255, 0, 0.4);
}

@media screen and (max-width: 640px) {
  .submitButton:focus {
    background: #0e0e0e;
    color: rgba(255, 255, 255, 0.8);
    padding: 4px 6px 4px 6px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 255, 0, 0.4);
  }
}

label.fontPrimary {
  color: rgb(255, 255, 255);
}

/* Map and Input Section */
.column {
  background: #0e0e0e;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 7px rgba(255, 255, 255, 0.4);
}

.inputColumn {
  height: 100%;
}

.mapColumn {
  height: 100%;
  margin: 22px 0 0 0;
}

.map {
  height: 275px;
  margin: 10px 0 10px 0;
}

.errorColumn {
  height: 150px;
}

.errorMessage {
  color: rgba(255, 255, 255, 0.8);
}

#ip {
  margin: 0;
  word-wrap: break-word;
}

h4.fontPrimary {
  color: rgba(255, 255, 255, 0.8);
}

h3.fontPrimary {
  color: rgba(0, 255, 0, 0.8);
}

.mark { 
  padding: 40px; 
  border-radius: 50%; 
  background-color: #d2d8fabe 
} 
